*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 100%;
}
.container2{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 3vh auto;
    background-color: #dbf4f4;
    width: 71vw;
}
.jumbotron{
    padding: 2vh 4vh;
}